@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "ADELIA";
	src: url("/fonts/ADELIA.otf") format("otf");
}

@font-face {
	font-family: "baloo";
	src: url("/fonts/baloo.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
